
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BatchInsert</title>
    <link href="~/Content/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/jquery.bsgrid-1.37/merged/bsgrid.all.min.css" rel="stylesheet" />
    <link href="~/Content/jquery.bsgrid-1.37/css/skins/grid_bootstrap.min.css" rel="stylesheet" />
    <style type="text/css">
        body {
            background-attachment: fixed !important;
            background-size: 100% 100% !important;
        }

        * {
            font-family: KaiTi;
            font-size: 16px;
        }

        .container {
            position: absolute;
            top: 50%;
            left: 50%;
            border-radius: 5px;
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            /*只需要在父元素上加这三句*/
            justify-content: center; /*子元素水平居中*/
            align-items: center; /*子元素垂直居中*/
            display: -webkit-flex;
        }
    </style>
</head>
<body>

    <div class="container">
        <div class="panel-body">
            <div class="col-lg-12 col-md-12 col-sm-12" style="text-align:center;margin-bottom:0px">
                <img style="width:280px;height:280px;margin-bottom:0px;margin-right:100px" src="~/Content/images/bg/navigation23.png" />
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12" style="text-align:center;margin-top:-30px;">
                <h1 style="margin-right:100px">广州市从化区慢性病后台管理系统</h1>
            </div>
        </div>
    </div>

</body>
</html>
