body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, textarea, select, optgroup, option, fieldset, legend, p, blockquote, th, td {
	margin:0;
	padding:0
}
fieldset, img {
	border:0
}
ul, li, ol {
	list-style:none
}
h1, h2, h3, h4, h5, h6 {
	font-size:100%
}
legend {
	color:#000
}
input, button, textarea, select, optgroup, option {
	font-family:inherit;
	font-size:inherit;
	font-style:inherit;
	font-weight:inherit
}
input, button, select {
	margin:0;
*font-size:100%;
	line-height:1.2
}
a img, img {
	-ms-interpolation-mode:bicubic
}
body {
	background:#FFF
}
a {
	color:#06c;
	text-decoration:none
}
a:hover, a:active, a:focus {
	color:#06c;
	text-decoration:underline
}
table {
	border-collapse:collapse;
	border-spacing:0
}
header, aside, section {
	display:block
}
body, button, input, select, textarea {
	font:12px/1.5 tahoma, arial, "¡• È";
	color:#666
}
.center {
	text-align:center
}
.clear:after, .clearfix:after {
	content:".";
	display:block;
	clear:both;
	visibility:hidden;
	font-size:0;
	height:0;
	line-height:0
}
.clear, .clearfix {
	zoom:1
}
.b-panel {
	position:absolute
}
.b-fr {
	float:right
}
.b-fl {
	float:left
}
.error-404 {
	background-color:#fff
}
.module-error {
	margin-top:182px
}
.module-error .error-main {
    margin: 0 auto;
    width: 450px;
}
    .module-error .label {
    float: left;
    width: 250px;
    height: 200px;
    background-image: url(../../images/error.gif);
    background-repeat: no-repeat;
    background-size: 100%;
    }
.module-error .info {
	float: right;
	line-height:1.8
}
.module-error .title {
	color:#666;
	font-size:14px
}
.module-error .reason {
	margin:8px 0 18px 0;
	color:#666
}
